<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetBoss</title>
    <link rel="stylesheet" href="../css/favorite.css">
    <style>
      .favtxt{
        color: #faf0e6;
        font-size: x-large;
        font-weight: 500;
      }
    </style>  
  </head>
  <body>
    <header> 
      <a href="/">Home</a>
      <% if (moviedata.userName != "" && moviedata.roles == "Admin") { %>
      <a href="/create">Add Movie</a>
      <a href="/movieupdate">Update Movie</a>
      <a href="/moviedelete">Delete Movie</a>
      <% }%>
      <% if (moviedata.roles == "User"){ %>
      <a href="/favorite/<%=moviedata.user_id%>">Favorite</a>
      <% }%>
      <% if (!moviedata.userName) { %>
      <a href="/register">Sign Up</a>
      <a href="/login">Sign In</a>
      <% } %>
      <% if (moviedata.userName) { %>
      <ul>
        <li>
          <img src="../images/<%=moviedata.profilePicture%>" alt="" class="profile">
        <ul class="dropdown">
          <li><a href="/user/<%=moviedata.user_id%>">Edit User</a></li>
          <li><a href="/logout">Sign out</a></li>
        </ul>
        </li>
      </ul>
      <% } %>
    </header>
    <h1 class="welcome">Your Favorite List!</h1>
    <div class="mainbox">
      <% if (movies.length == 0) { %>
        <p class="favtxt">No favorite now! Let's add something</p>
      <% } %>
      
      <% for(let i = 0; i < movies.length; i++){%>
  
        <div class="imgitem">
          <a href="/movie/<%=movies[i].movie_id%>"><img src="/images/<%= movies[i].imageFile %>"></a>
          <a href="/movie/<%=movies[i].movie_id%>"><%= movies[i].title %></a>
        </div>
      <%}%>
    </div>
  </body>
</html>

