<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetBoss</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
    <header> 
      <a href="/">Home</a>
      <% if (moviedata.userName != "" && moviedata.roles == "Admin") { %>
      <a href="/create">Add Movie</a>
      <a href="/movieupdate">Update Movie</a>
      <a href="/moviedelete">Delete Movie</a>
      <% }%>
      <% if (moviedata.roles == "User" ){ %>
      <a href="/favorite/<%=moviedata.user_id%>">Favorite</a>
      <% }%>
      <% if (!moviedata.userName) { %>
      <a href="/register">Sign Up</a>
      <a href="/login">Sign In</a>
      <% } %>
      <% if (moviedata.userName) { %>
      <a href="/logout">Sign out</a>
      <% } %>
    </header>
    <% if (moviedata.userName) { %>
      <h2 class="fade-in-right "><i class="fa-solid fa-hands-clapping"></i> Welcome, <%= moviedata.userName %> !</h2>
    <% } else { %>
      <h2 class="fade-in-right " style="width: 170px;"><i class="fa-solid fa-hands-clapping"></i> Welcome !</h2>
    <% } %>
    <div class="mainbox">
      <div>
        <% if (movies.length > 0) { %>
        <a href="/movie/<%=movies[0].movie_id%>" class="moviedes">
          <p><%= movies[0].title %></p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, fuga!</p>
        </a> 
        <a href="/movie/<%=movies[0].movie_id%>"><img src="/images/<%= movies[0].imageFile %>" class="bigimg"></a>
        <% } else {%>
          <h1>Let's start add some movie</h1>
        <% } %>
      </div>

      <% for(var i = 1; i < movies.length; i++){%>
        <div class="imgitem">
          <a href="/movie/<%=movies[i].movie_id%>"><img src="/images/<%= movies[i].imageFile %>"></a>
          <a href="/movie/<%=movies[i].movie_id%>"><%= movies[i].title %></a>
        </div>
      <%}%>
    </div>
  </body>
</html>

