<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Movie</title>
    <link rel="stylesheet" href="../css/create.css" />
  </head>
  <body>
    <header> 
      <a href="/">Home</a>
      <% if (moviedata.userName != "" && moviedata.roles == "Admin") { %>
      <a href="/create">Add Movie</a>
      <a href="/movieupdate">Update Movie</a>
      <a href="/moviedelete">Delete Movie</a>
      <% }%>
      <% if (moviedata.roles == "User"){ %>
      <a href="/favorite/<%=moviedata.user_id%>">Favorite</a>
      <% }%>
      <% if (!moviedata.userName) { %>
      <a href="/register">Sign Up</a>
      <a href="/login">Sign In</a>
      <% } %>
      <% if (moviedata.userName) { %>
      <ul>
        <li>
          <img src="../images/<%=moviedata.profilePicture%>" alt="" class="profile">
        <ul class="dropdown">
          <li><a href="/user/<%=moviedata.user_id%>">Edit User</a></li>
          <li><a href="/logout">Sign out</a></li>
        </ul>
        </li>
      </ul>
      <% } %>
    </header>
    <h1>Update Movie</h1>
    <form method="post" action="/update/<%=movies.movie_id%>" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" name="title"  value="<%= movies.title%>" />
      <br />
      <label for="author">Author:</label>
      <input type="text"name="director" value="<%= movies.director%>"/>
      <br>
      <input type="file" name="imageFile"/>
      <input type="submit" value="Update" />
    </form>
    <a href="/">Back to List</a>
  </body>
</html>
