<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Movie</title>
    <link rel="stylesheet" href="../css/create.css" />
  
  </head>
  <body>
    <header> 
      <a href="/">Home</a>
      <% if (moviedata.userName != "" && moviedata.roles == "Admin") { %>
      <a href="/create">Add Movie</a>
      <a href="/movieupdate">Update Movie</a>
      <a href="/moviedelete">Delete Movie</a>
      <% }%>
      <% if (moviedata.roles == "User" ){ %>
      <a href="/favorite/<%=moviedata.user_id%>">Favorite</a>
      <% }%>
      <% if (!moviedata.userName) { %>
      <a href="/register">Sign Up</a>
      <a href="/login">Sign In</a>
      <% } %>
      <% if (moviedata.userName) { %>
      <ul>
        <li>
        <img src="../images/noimage.jpg" alt="" class="profile">
        <ul class="dropdown">
          <li><a href="/user/<%=moviedata.user_id%>">Edit User</a></li>
          <li><a href="/deleteuser/<%=moviedata.user_id%>"onclick="return confirm('You delete really')">Delete User</a></li>
          <li><a href="/logout">Sign out</a></li>
        </ul>
        </li>
      </ul>
      <% } %>
    </header>
    <h1>Update User</h1>
    <form action="/user/<%=users.user_id%>" method="post">
      <label for="title">Title:</label>
      <input type="text" name="name" value="<%= users.name%>" />
      <br />
      <label for="author">Author:</label>
      <input
        type="text"
        name="password"
        value="<%= users.password%>"
      />
      <br />
      <input type="submit" value="Update User" />
    </form>
    <a href="/">Back to List</a>
  </body>
</html>
